/* Utilities  */
p {
  margin: 10px 0;
  font-size: 18px;
}
/* Section header_home */
.section_header_home {
  background-color:#f7f7f7;
}
.header_home {
  display: flex;  
  align-items: start;
  background: #f7f7f7;
}
.header_home .box {
  flex: 1;
  background: #f7f7f7;
  color: #4f5f76;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.header_home .box:nth-of-type(1) {
  flex-grow:2;
}
.header_home .box:nth-of-type(2) {
  flex-grow:1;
}
.container_buttons_links_header_home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}

.container_buttons_links_header_home btn{
  width: 100px;
  height: 100px;
  background: #9fa7bf;
  display: flex;
  justify-content:center;
  align-items:center;
}
/* Section developers */
.section_developers {
  background-color:#f7f7f7;
}
.developers {
  display: flex;  
  align-items: start;
  background: #f7f7f7;
}
.developers .box {
  flex: 1;
  background: #c5c8d9;
  color: #4f5f76;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
  flex-grow: 4;
}

.section_container_buttons_developers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}
.btn_developers {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #2a4359;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  background-color: #c5c8d9;
  border: 2px solid  #2a4359;
}
.btn_developers:hover {
  background-color: #c5c8d9;
  border: 2px solid #f7f7f7;
  color: #f7f7f7;
  text-decoration: none;
}


@media (max-width:768px) { 
  .header_home {
    flex-direction: column;
  } 
  .developers {
    flex-direction: column;
  } 
  .section_container_buttons_developers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}